/*HEADER STARTS HERE*/
#mainwrapper {
  margin:0px auto;
  padding:0px;
  position:relative;
  overflow:hidden;
}
#header {
  background-image: url("../images/Header_backroung.png");
  background-repeat:no-repeat;
  height:647px;
  background-color:#E3E2E0;
}
#header_inner {
  background-image: url("../images/Header_background.png");
  background-repeat:no-repeat;
  height:236px;
  background-color:#E3E2E0;
}
#logo_menu_wrapper {
  height:200px;
  margin-top:60px;
}
#logo_section {
  height:60px;
  margin-left:40px;
}
#logo {
  background:red;
}
#search {
  background:transparent;
  margin-top:25px;
  text-align:center;
}
#icons_outer {
  height:60px;
  margin-left:360px;
  float:right;
}
#steps3_outer {
  position:relative; word-wrap: break-word;
  color:white;
}
#header h1, #header h2, #header h3, #header h4, #header h5, #header h5 {
  color:#fff;
}
#header a {
  color:#fff;
}
#header p {
  text-align:justify;
}
#footer h1,#footer h2, #footer h3, #footer h4, #footer h5, #footer h6 {
  color:silver;
} 
#footer a {
  color:silver;
}
#stepone {
  text-align:center;
  background-image: url("../images/vertical_divider.png");
  background-repeat:no-repeat;
  background-position:296px 50px;
}
#steptwo {
  text-align:center;
  background-image: url("../images/vertical_divider.png");
  background-repeat:no-repeat;
  background-position:296px 50px;
}
#stepthree {
  height:200px;
  text-align:center;
}
/*HEADER ENDS HERE*/
/*MIDDLE STARTS HERE*/
#middlesection_outer {
  background-color:#E3E2E0;
  color:#444A56;
}
#middle_inner {
  width:880px;
  margin-right:40px;
  margin-left:40px;
  margin-top:20px;
}
#middle_inner2 {
  width:860px;
  margin-right:40px;
  margin-left:40px;
}

#middlesection_outer p {
  padding:0px 6px;
  text-align: justify;
  overflow: hidden;
  padding-top: 5px;
}

#middleone {
  float:left;
}
#middleone h2 a {
  font-size: 1.3em;
  font-style: italic;
}
#middletwo {
}
#middletwo h2 {
  font-size: 1.3em;
  font-style: italic;
}
#middlethree {
}
#middlethree h2 {
  font-size: 1.3em;
  font-style: italic;
}
#middlefour {
}
#middlefour h2 {
  font-size: 1.3em;
  font-style: italic;
}
#middle_lower {
  border-top:1px dashed silver;
  float:left;margin-left:40px;margin-right:40px; 
  padding-top: 10px;
  margin-top:20px;
}
#leftbar_home {
  border-right:1px dashed silver;
  margin-top:20px;
  margin-bottom:20px;
  min-height:500px;
}
#rightbar_home {
  margin-top:20px;
}
#rightblock1 {
  width:300px;
}
#rightblock2 {
  width:300px;
}
#rightblock3 {
  width:300px;
}
#rightblock4 {
  width:300px;
}
/*MIDDLE ENDS HERE*/

/*FOOTER STARTS HERE*/

#footer {
  background-image: url("../images/footer_background.png");
  background-repeat:repeat-y;
  min-height:251px;
  color:silver;
  font-style:italic; 
}
#footer_right {
  padding-top:30px;
}
#footer_middle {
  background-image: url("../images/vertical_divider.png");
  background-repeat:repeat-y;
  background-position:top right;
  padding-top:30px;
  min-height:200px;
}
#footer_middle p {
  padding-right:30px;
  text-align: justify;
  padding-left: 24px;
}

#footer_left {
  background-image: url("../images/vertical_divider.png");
  background-repeat:repeat-y;
  background-position:top right;
  padding-top:30px;
  min-height:200px;
}
#article_inner {
  background-color:#E3E2E0;
  padding-top:30px;
}
#article_leftbar {
  color:#444A56;
  margin-left:30px;
}
#article_rightbar {
  color:#444A56; 
  background-color:#CECECE;
}
#comments {
}

/*FOOTER ENDS HERE*/

/* Middle section for ABout us*/
#aboutus_middle {
	width: 940px;
	padding:0px;
	margin-left:10px;
	background-color:#E3E2E0;
	color:#444A56;
	display: block;
	overflow: hidden;
	clear: both;
}
#aboutus_middlesection_outer {
	width:640px;
	color:#444A56;
	margin:0px;
	padding:0px;
	float:left;
}
#aboutus_article_rightbar {
	width:300px;
	color:#444A56;
	margin:0px;
	padding:0px;
	float:left;
}
#aboutus_middle_block {
	width: 940px;
	padding:0px;
	margin-left:10px;
	background-color:#E3E2E0;
	color:#444A56;
	display: block;
	overflow: hidden;
	clear: both;
}
#aboutus_middle_block_left {
	width:640px;
	color:#444A56;
	margin:0px;
	padding:0px;
	float:left;
}
#aboutus_middle_block_right {
	width:300px;
	color:#444A56;
	margin:0px;
	padding:0px;
	float:left;
}
#aboutus_horizontal {
	width: 940px; 
	background-color:#E3E2E0;
	display: block; 
	overflow: hidden;
	padding: 4px 0 15px;
	margin-left:10px;
}
