	
body {
  line-height: 1;
  font: 13px/1.5 Georgia, serif;
}

body,
div,
p,
input,
textarea {
  font-size:14px;
}
ol {
    list-style-type: decimal;
    color:#444A56;
}
ol {
    display: block;
}

ul li {
    display: list-item;
    list-style-type: disc;
    color:#444A56;
}
fieldset {
    border: 2px solid silver;
    margin: 0 0 1.2em;
    width:604px;
    padding: 0.6em 2%;
    color:#444A56;
}
.form-item input {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0.5em 0 0.5em 0;

    /*padding: 0;*/

   
}
.form-item select {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0;
    width: 100%;
    
}

.form-item textarea {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: silver;
    border-style: solid;
    border-width: 1px;
    font-size: 0.9em;
    line-height: 1.2em;
    padding: 0.5em 0 0.5em 0;

    /*padding: 0;*/


    width: 100%;
    
}
.form-item input.form-text, {
    padding: 3px 1%;
    width: 98%;
}
.form-item select {
  padding: 3px 1%;


  width: 102%;

  /*width: 98%;*/


}
form input.form-submit {
    border: 0 none;
    color: #FFFFFF;
    font-size: 100%;
    margin: 2px;
    padding: 0px 8px;
    padding-bottom:10px;
    position: relative;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    width: auto;
    float:none;
    background-image: url("../images/more_button.png");
    background-repeat: repeat-x;
  color:#fff;
}
form:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
form {
    margin-bottom: 1.2em;
    color:#fff;
}
table {
    border-collapse: collapse;
}
td, tr.odd td, tbody th {
    background-color: #444A56;
    border:1px solid silver;
    color:#fff;
}
tr.even, tr.odd {
    background-color: #444A56;
    border-bottom: 1px solid #CCCCCC;
    padding: 0.1em 0.6em;
}
.form-item .description {
    color: #444A56;
    font-size: 0.8em;
    font-style: italic;
    padding: 0.4em 0 0;
}
label {
    display: block;
    font-weight: bold;
    color:#444A56;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color:#444A56;
}
h1 {
  font-size: 4em;
  letter-spacing:-1px;
  color:#444A56;
}
h1.title {
  font-size: 4em;
  letter-spacing:-1px;
  color:#444A56;
}

h2 {
  font-size: 2em;
  color:#444A56;
}
h2.block-title {
  color:#444A56;
}
h2.title a:link, h2.title a:visited {
    color:#444A56;
    text-decoration: underline;
}
h2.title a:hover, h2.title a:active {
    text-decoration: none;
}

h3 {
  font-size: 1.6em;
  color:#444A56;
}

h4 {
  font-size: 1.4em;
  color:#444A56;
}

h5 {
  font-size: 90%;
  color:#444A56;
}

h6 {
  font-size: 80%;
  color:#444A56;
}
ol {
  list-style: decimal;
}

ul {
  list-style: square;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset {
  margin-bottom: 20px;
}
b, strong {
    font-weight: bolder;
}
i, cite, em, var, dfn {
    font-style: italic;
}
blockquote {
    background-color: #444A56;
}
blockquote {
    color: #FFFFFF;
    font-size: 1.4em;
    line-height: 1.4em;
    margin: 0 0 1em;
    padding: 10px;
}
a, a:link, a:visited {
    color: #444A56;
    text-decoration:underline;
}
a, a:hover, a:active {
    color: #444A56;
    text-decoration:none;
}
div.status, table tr.ok {
    background-color: #444A56;
}
div.status, .ok {
    color: #fff;
}
div.status {
    border-color: #fff;
}
div.messages {
    background-position: 8px 8px;
    background-repeat: no-repeat;
    margin: 6px 0;
    padding: 10px 10px 10px 50px;
}
div.error, table tr.error {
    background-color: #444A56;
}
div.error, .error {
    color: #fff;
}
div.warning, table tr.warning {
    background-color: #444A56;
}
div.warning, .warning {
    color: #fff;
}
div.error {
    border-color: #fff;
}
div.warning {
    border-color: #fff;
}
p code {
    background-color: #444A56;
}
p code {
    border: medium none;
    color: #fff;
    display: inline;
    margin: 0;
    padding: 0 0.2em;
}
hr {
  border-color: #ccc;
  border-style: solid;
  border-width: 1px 0 0;
  clear: both;
  height: 0;
}
ins {
  text-decoration: none;
}
del {
  text-decoration: line-through;
}


a {
  color:#444A56;
}
p,input,textarea {
	font-family: Georgia, serif;
	font-size:13px;
	font-style:italic;
}
input,textarea {
	color:#878787;
}
/*#nav {
  height:100px;
  background-image: url("../images/Navigation_backgroung.png");
  background-repeat:no-repeat;
  background-position:center;
  margin-left:auto;
  margin-right:auto; 
}
#nav ul.menu {
  margin: 0; 
  padding: 0;
  margin-left:50px;
  padding-top:30px;
}
#nav ul.menu li {
  display: block;
  float:left;
  font-family: Georgia, serif;
  font-size:15px;
  font-weight:bold;
  font-style:italic;
}
#nav ul.menu li a {
  text-decoration: none;
  font-weight:bold;
  font-size:16px;
  font-style:italic;
  color:#444A56;
  padding: 10.5px 0px;
  text-align:left;
}
#nav ul.menu li a:hover {
  background:none;
}
#nav ul.menu li a:visited {
  color:#444A56;
}
#nav ul.menu li a:hover, .menu ul li .current {
  color: #fff;
}
#nav ul.menu li ul {
  position: absolute;
  display: none;
  z-index: 999;
}
#nav li:hover ul.menu {
  display: block;
  position:absolute;
  margin:0px;
  padding:0px;
}
#nav ul.menu ul li {
  background: none;
  float:left;
  padding:0px;
  margin:0px;

}*/



.filter-wrapper {
	border:none;
}
.region-footerright {
  text-align:right;
  padding-right:30px;
}
.region-footerright h2 {
  text-align: left;
  font-size: 2.1em;
  font-style: normal;
  margin-left: 7px;
}
.region-footerright input[type=text] {
  color:#878787;
  background-color: transparent;
  background-image: url("../images/text_field_search.png");
  background-repeat: no-repeat;
  background-position:top right;
  border: medium none;
  height: 35px;
  padding: 5px 10px;
  width: 177px;
  float:right;
}
.region-footerright input[type="reset"], input[type="button"], input[type="submit"] {
  background-image: url("../images/Button_subscribe1px.png") ;
  background-repeat:repeat-x;
  text-decoration:none;
  background-position:bottom;
  padding:10px;
  color:#4E3F38; 
  font-weight:bold;
  font-size:14px;                         
  border:none;
  background-color:transparent;
  height:36px;
  cursor:pointer;
}
.comment-form input[type="reset"], input[type="button"], input[type="submit"] {
  background-color: transparent;
  background-image: url("../images/Button_subscribe1px.png");
  background-position: center bottom;
  border: medium none;
  color: #4E3F38;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  height: 36px;
  font-style: normal;
  margin-top: 4px;
  padding-left: 13px;
  padding-bottom: 12px;
  padding-top: 7px;
	float:right;
}                            
.comment-form input[type=text] {
  width:530px; 
  height:35px;
  margin-bottom:10px;
  padding: 3px 8px 3px 8px;
  border-radius: 8px;
}
.comment-form textarea {
  color:#878787;
  width:551px; 
  height:156px;
  padding: 3px 8px 3px 8px;
  margin-bottom: 10px;
  border-radius: 10px;
}
.resizable-textarea .grippie {
  display:none; 
}                                               

.region-sidebar-first ul {
  list-style-type: none;
  margin: 20px 0px 0px 0px;
  padding:0px; 
}
.region-sidebar-first ul li {
  background-image: url("../images/down_arrow.png");
  background-position: right center;
  background-repeat: no-repeat;
  border-bottom: 1px dashed silver;
  display: block;
  height: 30px;
  font-style: italic;
  margin-right: 35px;
  font-family: georgia,serif;
}
.region-sidebar-first ul li a {
  color: #444A56;
  font-size: 1.2em;
  font-style: italic;
  font-weight: bold;
  text-decoration: none;
}
.region-footerleft {
  color:silver;
}
.region-footerleft h2 {
  color: silver;
  font-size: 1.3em;
  margin-left: 27px;
}
.region-footerleft ul {
  list-style-type:none; 
  margin:0px; 
  padding:0px;
  margin-bottom:30px; 
  margin-top:20px;
}
.region-footerleft ul li {
  display:block;
  padding-bottom:6px; 
}
.region-footerleft ul li a {
  color: silver;
  font-family: georgia,serif;
  font-size: 14px;
  font-style: italic;
  /*margin-left: 55px;
  text-decoration: none; */
}
.region-stepone {
  background-image: url("../images/Digit_one.png");
  background-repeat:no-repeat;
  background-position:top center;
  display:block;
  margin-bottom:30px;
  text-align:center;
  padding-top:100px;
}
.region-steptwo {
  background-image: url("../images/Digit_two.png");
  background-repeat:no-repeat;
  background-position:top center;
  display:block;
  margin-bottom:30px;
  text-align:center;
  padding-top:100px;
}
.region-stepthree {
  background-image: url("../images/Digit_three.png");
  background-repeat:no-repeat;
  background-position:top center;
  padding-top:100px; 
  display:block;
  margin-bottom:30px;
  text-align:center;
}
.morelink {
  background-image: url("../images/Button_yellow1px.png");
  background-repeat:repeat-x;
  background-position:10px 5px;
  padding:10px;
  text-decoration:none !important;
  display:inline-block;
  width:auto;
  font-weight:bold;
  font-size:14px;
  color:#000 !important;
  float:right;
  margin-right:100px;
  font-style: normal;
} 
       
#steps3_outer p {
  padding:10px 15px 10px 20px; 
  text-align:justify;
}
.socialmedia_icons { 
}
.socialmedia_icons ul {
  margin:0px; 
  padding:0px;
  list-style-type:none; 
}
.socialmedia_icons ul li {
  display:inline;
  padding-right:10px; 
}
.socialmedia_icons ul li a {
  display:inline; 
}
.region-search .form-text {
  background-color: transparent;
  background-image: url("../images/text_field_search.png");
  background-repeat: no-repeat;
  border: medium none;
  height: 35px;
  padding: 5px 10px;
  width: 200px; 
}
#search h2 {
  width:100px;
  margin:0px;
  font-size:18px;
  font-weight:normal;  
}
.region-footerright h2 {
  font-size: 1.3em;
}
.middleboxes {
  margin-right:10px;
  margin-left:10px;
  width:180px;
  float:left 
}
.region-middleone {;
  width:194px; 
  height:154px;
}
.region-middletwo {
  width:194px; 
  height:154px;
}
.region-middlethree {
  width:194px; 
  height:154px;
}
.region-middlefour {
  width:194px; 
  height:154px;
}
/*.region-middleone p a {
  color:white;
  font-weight:bold;
  font-size:14px;
  background:url("../images/Button_grey1px.png");
  background-repeat:repeat-x;
  padding: 7px 16px 7px 16px;
  font-style: normal;
  text-decoration:none;
  text-align:center;
  float:right;
}             
.region-middletwo p a {
  color:white;
  font-weight:bold;
  font-size:14px;
  background:url("../images/Button_grey1px.png");
  background-repeat:repeat-x;
  padding: 7px 16px 7px 16px;
  font-style: normal;
  text-decoration:none;
  text-align:center;
  float:right;
}              
.region-middlethree p a {
  color:white;
  font-weight:bold;
  font-size:14px;
  background:url("../images/Button_grey1px.png");
  background-repeat:repeat-x;
  padding: 7px 16px 7px 16px;
  font-style: normal;
  text-decoration:none;
  text-align:center;
  float:right;
}              
.region-middlefour p a {
  color:white;
  font-weight:bold;
  font-size:14px;
  background:url("../images/Button_grey1px.png");
  background-repeat:repeat-x;
  padding: 7px 16px 7px 16px;
  font-style: normal;
  text-decoration:none;
  text-align:center;
  float:right;
}*/
div.node-article ul.inline li {
  display:block;
}
.teasercontent ul.inline li{
  margin-left:5px;
  height:40px;
  color:transparent;
   background-image: url("../images/more_button.png");
    background-repeat: repeat-x;
  color:#fff;
  float:right;
  display:block;
  
}
.teasercontent ul.inline li a {
  color:#fff;
  display:block;
  padding-top:7px;
  text-decoration:none;
}
.teasercontent p {
  padding:0px 6px;
}
.front .region-rightblock1,.front .region-rightblock2 {
  background-repeat:no-repeat;
  background-position:left center;
  border-bottom:1px dashed silver;
  height: auto;
  margin-left: 47px;
  padding-left: 64px; 
}
.front .region-rightblock3,.front .region-rightblock4 {
  background-repeat:no-repeat;
  background-position:left center;
  height: auto;
  border:none;
  margin-left: 47px;
  padding-left: 64px; 
}
.front .region-rightblock1 {
  background-image: url("../images/graph_icon.png");
}
.front .region-rightblock2 {
  background-image: url("../images/Computer_icon.png");
}
.front .region-rightblock3 {
  background-image: url("../images/chat_icon.png");
}
.front .region-rightblock4 {
  background-image: url("../images/clock_icon.png");
}
.region-footermiddle h2 {
  color: silver;
  font-size: 1.3em;
  margin-left: 27px;
}
.region-footermiddle p {
  color:silver; 
}
.arrow1 {
  position:absolute;
  top:168px; 
  left:290px;
  width:30px; 
  height:36px;
  background-image: url("../images/right_arrow.png");background-repeat:no-repeat;
  background-position:left center; 
  z-index:1;
}
.arrow2 {
  position:absolute;
  top:168px; 
  left:600px;
  width:30px; 
  height:36px;
  background-image: url("../images/right_arrow.png");
  background-repeat:no-repeat;
  background-position:left center; 
  z-index:1;
}
.comment-arrow h3 a {
 /* color:#444A56;
  font-size:14px;
  text-decoration:none;
  margin-bottom:0px;
  font-weight:normal; 
  display: none;*/
}
.submitted_date {
  text-align:right; 
}
.submitted a {
  font-size:14px; 
  color:#444A56;
  font-weight:bold;
  text-decoration:none;
  text-transform:capitalize; 
}
.region-article-rightbar {
  background-position: right center;
  background-repeat: no-repeat;
  overflow:hidden;
  padding: 12px;
  text-align: justify;
}
.region-article-rightbar h2 {
  border-bottom:1px dashed silver;
  font-size: 1.3em;
  font-style: italic;
  background-position: right center;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
.region-article-rightbar ul {
  list-style-type: none;
}
.region-article-rightbar ul li {
  border-bottom: 1px dashed silver;
  font-family: georgia,serif;
  font-style: italic;
  padding-bottom: 5px;
  padding-top: 5px;
}
.region-sidebar-second {
  padding-left:10px; 
}
.comment-arrow {
  padding:20px;
  overflow:hidden;
  word-wrap:break-word;
  text-align: justify;
}  
.comment-text {
  background-image: url("../images/comment_box_middle.png");
  background-repeat:repeat-y;
  width:554px;
}            
.comment-text-top {
  background-image: url("../images/comment_box_top.png");
  background-repeat:no-repeat;
  height:19px;
  width:554px;
  margin-top:20px;
}    
.comment-text-bottom {
  background-image: url("../images/comment_box_bottom.png");
  background-repeat:no-repeat;
  height:23px;
  width:554px;
}                        
.comment-11 {
  background:red;
  height:100px;width:200px;
  border:1px solid silver;
}              
.comment-text_top {
  background-image: url("../images/text_field_comment_top.png");
  background-repeat:no-repeat;
  width:551px;height:16px;
}   
.comment-arrow .comment ul.inline, ul.links.inline li a  {
  margin-right:4px;
  font-size:13px; font-weight:bold;
}

body.not-front #article_inner #article_leftbar {
  color: #444A56;
  margin-bottom: 10px;
  margin-left: 30px;
}
.region-rightblock1 h2 , .region-rightblock2 h2 , .region-rightblock3 h2,.region-rightblock4 h2 {
  font-size: 1.3em;
  font-style: italic;
  margin:0px;
}
.region-stepone .content p {
  margin-left: 18px;
}
.region-article-rightbar p{
    border-bottom: 1px dashed silver;
    font-family: georgia,serif;
    font-style: italic;
    padding-bottom: 5px;
    padding-top: 5px;
}
.region-steptwo .content p {
  margin-left: 18px;
}

.region-stepthree .content p {
  margin-left: 18px;
  /*margin-right: 12px;*/
}


.region-search #block-search-form #search-block-form h2 {
  color: #444A56;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
  padding-top: 9px;
}
#footer:after {
	clear:none;
}
#contact-personal-form .form-item input {
  background-image: url("../images/contact_us_textfield_new.png");
  background-repeat: no-repeat;
  border: medium none;
  height: 32px;
  width: 386px;
}
#contact-personal-form .form-item textarea {
  background-image: url("../images/contact_message_textfield_new.png");
  background-repeat: no-repeat;
  border: medium none;
  height: 223px;
  width: 570px;
}
#contact-personal-form .form-actions .form-submit {
  background-image: url("../images/Submit_button.png");
  background-repeat: no-repeat;
  border: medium none;
  float: right;
  height: 42px;
  margin-right: 45px;
  color: transparent;
}
.container-inline {
	position:relative;
}
.region-search .form-submit {
	position: absolute;
	bottom: 20px;
	left: 270px;
	top: 5px;
	background-image:none;
}
#contact-site-form .form-item input {
  background-image: url("../images/contact_us_textfield_new.png");
  background-repeat: no-repeat;
  border: medium none;
  height: 32px;
  width: 356px;
	padding:0px 15px;
}
#contact-site-form .form-item textarea {
  background-image: url("../images/contact_message_textfield_new.png");
  background-repeat: no-repeat;
  border:medium none;
  height:223px;
  width: 570px;
	padding:15px;
	resize:none;
}
#contact-site-form .form-actions .form-submit {
  background-image: url("../images/Submit_button.png");
  background-repeat: no-repeat;
  border: medium none;
  float: right;
  height: 42px;
  margin-right: 45px;
  color: transparent;
}
.region-search .form-text {
	position: absolute;
	bottom: 20px;
	left: 70px;
	top: 0px;
	outline:none;
}
#fullline {
	border-bottom: 1px dashed silver;
	padding-bottom:10px;
	margin-bottom:10px;
	display:block;
	overflow:hidden;
	margin-left:10px;
	margin-right:10px;
}
#contact-site-form .form-item label {
  display:none;
}
.region-sidebar-second .content h6,.region-sidebar-second h2 {
	margin-bottom:10px;
}
.region-sidebar-second .content h6 {
	font-style:italic;
	margin:0px;
}
#footer #footer_right .content input#nlname,#footer #footer_right .content input#nlemail {
	margin-bottom:10px;
}
#footer #footer_right .content input#nlsubscribe {
	margin-top:0px;
}
#contact-site-form.contact-form div div.form-item input#edit-copy.form-checkbox {
  display:none;
}
div#comments.comment-wrapper div.comment-text div.comment-arrow div.submitted span.commenter-name span span.username {
  color: #878787;
  font-family: georgia,serif;
  font-size: 1.3em;
  font-style: italic;
  font-weight: bold;
}
div#comments.comment-wrapper div.comment-text div.comment-arrow div.comment ul.links li.comment-reply a {
  display: none;
}
#comment-body-add-more-wrapper #edit-comment-body-und-0-format-help,#comment-body-add-more-wrapper #edit-comment-body-und-0-format-guidelines {
	display:none;	
}
div#comments.comment-wrapper form#comment-form.comment-form input.form-text {
  background-image: url("../images/text_field_form.png");
  background-repeat: no-repeat;
  border: medium none;
  height: 34px;
  margin-bottom: -4px;
  padding: 0 15px;
  width: 208px;
}
div#comments.comment-wrapper #comment-form.comment-form #comment-body-add-more-wrapper .form-item div.form-textarea-wrapper textarea {
  background-image: url("../images/text_field_comment.png");
  background-repeat: no-repeat;
  border: medium none;
  height: 110px;
  padding: 15px;
  resize: none;
  width: 551px;
}
div#comments.comment-wrapper form#comment-form.comment-form div div.form-item label {
  display: none;
}
div#comments.comment-wrapper h2.title {
  font-family: Georgia,serif;
  font-size: 1.3em;
  font-style: italic;
  margin-top: 20px;
}
div#comments.comment-wrapper form#comment-form.comment-form div div#edit-actions.form-actions input#edit-preview.form-submit {
  display: none;
}
div#comments.comment-wrapper form#comment-form.comment-form div div#edit-actions.form-actions input#edit-submit.form-submit {
  background-image: url("../images/Submit_button.png");
  background-repeat: no-repeat;
  border: medium none;
  color: transparent;
  float: right;
  height: 40px;
  margin-bottom: 27px;
  margin-right: 64px;
  margin-top: -39px;
  width: 110px;
}
div#comment_submitted {
  display: none;
}
.field-name-field-tags {
  display:none;
}
div#comment_submitted {
  display:none;
}
#mainwrapper #aboutus_middlesection_outer #middlesection_outer {
	width:620px;
	padding: 0px 10px;
}
#mainwrapper #aboutus_middlesection_outer #middlesection_outer	#rightblock1,#mainwrapper #aboutus_middlesection_outer #middlesection_outer	#rightblock2,#mainwrapper #aboutus_middlesection_outer #middlesection_outer	#rightblock3,#mainwrapper #aboutus_middlesection_outer #middlesection_outer	#rightblock4,.container-12 #aboutus_middlesection_outer .grid-4 {
	width:290px;
	margin:10px;
}
#mainwrapper #aboutus_middle #aboutus_article_rightbar #article_rightbar {
	margin-left: 40px;
	margin-top: 20px;
}
.watermarkOn {
  color: #CCCCCC;
  font-style: italic;
}
#aboutus_middle_left,#aboutus_middle_right {
	padding:20px;
	display: block;
	overflow: hidden;	
}
#aboutus_middle_block #aboutus_middle_block_left #aboutus_middle_left #aboutus_middleblock_image {
	float:left;
	margin: 0;
	padding: 10px 0px;
	width: 200px;
}
#aboutus_middle_block #aboutus_middle_block_left #aboutus_middle_left #aboutus_middleblock_para {
	float:left;
	margin: 0;
  padding: 10px;
  width: 380px;
}
#aboutus_middle_block #aboutus_middle_block_left #aboutus_middle_left #aboutus_middleblock_button,#aboutus_middle_block #aboutus_middle_block_right #aboutus_middle_right #aboutus_middleblock_button {
	float: right;
}
#aboutus_middle_block #aboutus_middle_block_left #aboutus_middle_left #aboutus_middleblock_para h6 {
	font-style: italic;
	padding-left: 20px;
}

#aboutus_middle_block #aboutus_middle_block_right #aboutus_middle_right  h6 {
	font-style: italic;
}
#aboutus_middle_block #aboutus_middle_block_left #aboutus_middle_left #aboutus_middleblock_para:after {
	clear: both;
	content: ".";    
	height: 0;
	visibility: hidden;	
}
#mainwrapper #aboutus_middle_block h2 {
	margin-bottom:5px;
	margin-left:10px;
}
#mainwrapper #aboutus_middle_block #aboutus_middle_block_right #aboutus_middle_right .region-aboutus-middle-right {
	margin-top:45px;
}
#aboutus_middleblock_right_button a#more_button,#aboutus_middleblock_left_button a#more_button {
	/*background: url("../images/Button_grey1px.png") repeat-x scroll 0 0 transparent;
	color: white;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	float:right;
	padding: 7px 16px;
	text-align: center;
	text-decoration: none;
	font-family: Georgia,serif;
	margin-right: 10px;
	*/
	width:110px;
  height:42px;
  color:transparent;
  background-image: url("../images/more_button.png");
  background-repeat:no-repeat;
  margin-right: 10px;
  display:block;
}
.comment-text .comment-arrow .submitted_date span.comment-time {
  font-size: 1.1em;
  font-style: italic;
  font-family: georgia,serif;
}
div#comments.comment-wrapper div.comment-text div.comment-arrow div.submitted span.commenter-name span a.username {
  color: #878787;
  font-family: georgia,serif;
  font-size: 1.3em;
  font-style: italic;
}
div#comments.comment-wrapper div.comment-text div.comment-arrow div.submitted_date span.comment-time {
  font-family: georgia,serif;
  font-size: 1.1em;
  font-style: italic;
}

div#comments.comment-wrapper div.comment-text div.comment-arrow div.content div.field div.field-items div.field-item p {
  color: #878787;
  font-family: georgia,serif;
  font-size: 1.1em;
  font-style: italic;
}

div#article_leftbar.grid-8 div.region div#block-system-main.block div.content div.field div.field-items div.field-item p {
  font-family: georgia,serif;
  font-size: 1.1em;
  text-align: justify;
}
#aboutus_horizontal hr {
	border-color: silver;
	border-style: dashed none none;
	border-width: 1px 0 0;
	height: 0px;
	margin: 0px auto;
	padding: 0px;
	width: 875px;
}
div#article_inner.grid-12 div#fullline div#article_rightbar.grid-3 div.uparrow {
  float: right;
}
div#article_inner.grid-12 div#fullline div#article_rightbar.grid-3 div.downarrow {
  float: right;
}
div#article_inner.grid-12 div#fullline div#article_rightbar.grid-3 div.uparrow a img {
  padding-right: 15px;
  padding-top: 50px;
}
div#article_inner.grid-12 div#fullline div#article_rightbar.grid-3 div.downarrow a img {
  padding-right: 15px;
  padding-bottom: 9px;
}
div#comments.comment-wrapper div.comment-text div.comment-arrow div.profile_picture img {
  border: 0 none;
  float: left;
  height: 58px;
  padding-bottom: 8px;
  padding-right: 21px;
  width: 59px;
}
div#middlesection_outer.grid-12 div#middle_lower.grid-11 div#leftbar_home.grid-3 div.region div.content p a {
  margin-top:30px;
}
div#aboutus_middle div#aboutus_article_rightbar.clearfix div#article_rightbar.grid-3 div.uparrow {
  float: right;
}
div#aboutus_middle div#aboutus_article_rightbar.clearfix div#article_rightbar.grid-3 div.downarrow {
  float: right;
}
div#aboutus_middle div#aboutus_article_rightbar.clearfix div#article_rightbar.grid-3 div.downarrow a img {
  padding-right: 15px;
  padding-bottom: 9px;
}
div#aboutus_middle div#aboutus_article_rightbar.clearfix div#article_rightbar.grid-3 div.uparrow a img {
  padding-right: 15px;
  padding-top: 22px;
}
div#aboutus_middle.clearfix div#aboutus_middlesection_outer div#middlesection_outer.grid-12 div#rightblock1 .grid-4 div.region {
  background-image: url("../images/graph_icon.png");
  background-repeat:no-repeat;
  background-position:left center;
  border:none;
  height: auto;
  margin-left: 47px;
  padding-left: 64px; 
}
.not-front .region-rightblock1,.not-front .region-rightblock2,.not-front .region-rightblock3,.not-front .region-rightblock4 {
  background-repeat:no-repeat;
  background-position:left center;
  height: auto;
  margin-left: 47px;
  padding-left: 64px;
}
.not-front .region-rightblock1 {
  background-image: url("../images/graph_icon.png");
  background-position:0 80%;
}
.not-front .region-rightblock2 {
  background-image: url("../images/Computer_icon.png");
  background-position:0 80%;
}
.not-front .region-rightblock3 {
  background-image: url("../images/chat_icon.png");
  background-position:0 80%;
}
.not-front .region-rightblock4 {
  background-image: url("../images/clock_icon.png");
  background-position:0 80%;
}
div#aboutus_middle_block_left div#aboutus_middle_left div.region div#aboutus_middleblock_image img {
  margin-left:10px;
}
div#aboutus_middle_block div#aboutus_middle_block_left div#aboutus_middle_left div#aboutus_middleblock_para p {
  padding-left: 20px;
  text-align: justify;
}
div#aboutus_middle_block div#aboutus_middle_block_right div#aboutus_middle_right div.region div.content {
  margin-left: 18px;
  padding-left: 0;
}
#rightblock1 h2,#rightblock2 h2,#rightblock3 h2,#rightblock4 h2 {
	margin-bottom:0px;
}
#block-block-15>h2 {
	/*margin-bottom:0px;*/
}
#aboutus_middle_right .content,#aboutus_middle_left .content {
	display:block;
	overflow:hidden;
	position:relative;
}
#aboutus_middleblock_left_button {
	position:absolute;
	bottom:0px;
	right:0px;
}
#aboutus_middleblock_right_button {
	position:absolute;
	bottom:5px;
	right:0px;
}
.footer_zyxware {
  font-size:8px;
  text-align:center;
  position:absolute;
  bottom:0px;
  right:16px;
  color:#9A9998;
  bottom:5px;
}
.footer_zyxware a {
  color:#9A9998;
  text-decoration:none;
}
.yellowborder_wrap {
  float:left;
  width:100%;
  margin:20px 0px;
  border-top:1px dashed #ffd720;
  border-bottom:1px dashed #ffd720;
}
.yellowborder_wrap a{
  color:silver;
}
.teasercontent {
  width:200px;
  float:left;
  overflow:hidden;
  margin:0px 7px;
}
.article_title a {
  color:#444A56;
  text-decoration:none;
}
.region-sidebar-first {
  float:left;
}
.region-sidebar-first p {
  display:inline;
  padding-right:40px !important;
  text-align:justify;
  
}
.region-footerleft p {
  padding:0px 40px;
  text-align:justify;
}
.region-footerright p{
  padding:0px 40px;
  text-align:justify;
  padding-right:0px;
}

#block-block-1 p{
  margin-left:19px;
  padding-left:5px;
  text-align:justify; 
}
#steps3_outer {
  overflow:hidden;
  height:330px;
}
#article_rightbar {
  margin-left:23px;
}
#article_rightbar p{
  margin-left: 12px;
  margin-right: -10px;
}
#footer li {
  color:silver;
}
.post-tags .field-item {
  float:left;
  margin-right:5px;
  margin-top:15px;
  background-image: url("../images/more_button.png");
  background-repeat: repeat-x;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: #CD4517;
  display: inline-block;
  text-shadow: 0 1px 0 #FFFFFF;
}

.post-tags{
 overflow:hidden;
}

.post-tags a{
	color:black;
	text-decoration: none;
	padding:0px 6px;
	font-size:15px;
}

.post-tags a:hover{
  background-color:#999999;
	border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
} 

.post-tags .field-label {
  display:none;
}
.comment-text .comment-arrow h2 {
  font-family: Georgia,serif;
  font-size: 1.3em;
  font-style: italic;
  margin-top: 20px;
}

.comment-wrapper {
 float:left;
 width:620px;
}

#mobileMenu_mm1 {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    padding-bottom: 3px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 3px;
}
#nav {
  height:100px;
  background-image: url("../images/Navigation_backgroung.png");
  background-repeat:no-repeat;
  background-position:center;
  margin-left:auto;
  margin-right:auto; 

}

#nav ul {
    /*float: left;*/
    padding-bottom: 0px;
    padding-left: 15px;
    margin-left:40px;
    list-style-type: none;
    padding-right: 15px;
    padding-top: 0px;margin-top:20px;
}
#nav li {
    float: left;
    font-weight: 400;
    list-style-type: none;
}
#nav li a {
  font-family: Georgia, serif;
  font-size:15px;
  font-weight:bold;
  font-style:italic;color:#444A56;
  display: block;
  padding: 10px 10px 10px 10px;
  position: relative;
  text-decoration: none;
}
#nav li a:hover, .#nav li a:active, #nav a.active {
    color: #555555;
}
#nav li a .sf-sub-indicator {
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
    position: absolute;
    text-indent: -9999px;
}
#nav li li a, #nav li li a:link,#nav li li a:visited {
    background-color: #12263B;
    border-top-width: 0;
    color: #E7E7E7;
    font-size: 13px;
    font-weight: 400;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    position: relative;
    text-transform: none;
    width: 140px;
}
#nav li li a:hover, #nav li li a:active {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #01152A;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    
    background-size: auto auto;
    color: #FFFFFF;
}
#nav li ul {
    height: auto;
    left: -9999px;
    margin-bottom: 0;
    margin-left: 1px;
    margin-right: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    position: absolute;
    width: 160px;
    z-index: 9999;
}
#nav li ul a {
    width: 160px;
}
#nav li ul ul {
    margin-bottom: 30px;
    margin-left: 160px;
    margin-right: 0;
    margin-top: -40px;
}
#nav li:hover > ul, #nav li.sfHover ul {
    left: auto;
}
#nav ul li.leaf, #nav ul li.expanded, #nav ul li.collapsed {
    list-style-image: none !important;
    list-style-position: outside;
    list-style-type: none;
}
#nav ul.menu li {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}
#nav li.expanded, #nav li.collapsed, #nav li.leaf {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    /*padding-bottom: 10px;*/
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
}
#nav li li a,
#nav li li a:link,
#nav li li a:visited {
  background-color: #FADD77;
  color:#444A56;
  font-weight:bold;
}

#nav li li a:hover,
#nav li li a:active {
  background: #292929;color:#ffffff;
}



